body {
  margin: 0;
  padding: 0;
  font-family: 'Sanchez', Helvetica, sans-serif;
  color: #2d2d2d;
  background-color: #eee;
}

a {
  color: #2d2d2d;
  text-decoration: none;
  border-bottom: 1px solid #2d2d2d;
}

a:hover {
  color: #6699cc;
  border-color: #6699cc;
}

a.clean {
  border-bottom: none;
}

ul {
  margin-left: 20px;
}

li {
  padding: 5px 0;
  list-style-type: square;
}

.clear {
  clear: both;
}

table {
  margin: 0;
  padding: 0;
  width: 750px;
}

.center-text {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

header#navigation {
  background: rgba(45, 45, 45, 0.9);
  height: 50px;
  width: 100%;
  border-bottom: 5px solid #F70; /* #B5BD68 */
  font-size: 16px;
}

header#navigation a {
  color: #ccc;
  text-decoration: none;
  border-bottom: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

header#navigation a:hover {
  color: #6699cc;
}

header#navigation h3 {
  text-transform: none;
  border-bottom: none;
  margin: 0;
  padding: 0;
}

header#navigation #name {
  font-size: 26px;
  float: left;
  text-align: left;
  padding: 5px 0;
}

header#navigation nav {
  float: right;
  text-align: right;
}

header#navigation ul {
  margin: 15px 0 0 0;
  padding: 0;
}

header#navigation nav li {
  display: inline;
  padding: 0 10px;
}

h1.title {
  padding: 10px 0;
  box-shadow: inset 0 0 5px #2d2d2d;
  /*padding: 10px 20px;*/
  color: #2d2d2d;
  text-align: center;
  width: 100%;
  /*-webkit-box-shadow: 0 0 10px #444;*/
  /*box-shadow: 0 0 10px #444;*/
}

.container {
  width: 750px;
  margin: 0 auto;
}

.content {
  font-size: 20px;
}

.content p {
  line-height: 175%;
  margin: 25px 0;
}

.posts {
  margin: 0 0 30px 0;
  padding: 0;
}

.posts ul {
  width: 100%;
}

.posts li {
  margin-bottom: 10px;
  list-style-type: none;
  width: 100%;
}

.posts li:before {
  content: '›';
  margin-right: 10px;
}

.posts span {
  padding-top: 3px;
  float: right;
  text-transform: uppercase;
  color: #999;
}

.content .when + p:first-of-type {
  display: inline;
}

.when {
  display: inline;
  padding-right: 5px;
  color: #888;
}