/* Current theme is based on the "cheer up emo kid" pallet from colourlovers.com -> http://www.colourlovers.com/palette/1930/cheer_up_emo_kid */
body {
    background-color: #556270;
    color: #F8F8F2;
    /*color: #4ECDC4;*/
}

a {
    text-decoration: none;
    color: #C7F464;
}

a:hover {
    color: #FF6B6B;
}

h1, h2, h3, h4 {
    color: #C44D58;
}