<!DOCTYPE html>
<html lang="en-us">

  <head>

    <meta charset="utf-8" />
    <meta name="author" content="Matt Emborsky <memborsky@gmail.com>" />
    <meta name="description" content="The crazy mind of Matt Emborsky." />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sanchez:400italic,400" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
    {% for css in page.css %}<link rel="stylesheet" href="/css/{{ css }}.css" type="text/css" />{% endfor %}
    <!-- <link rel="stylesheet" href="/css/syntax.css" type="text/css" /> -->
    <!-- <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" /> -->
    <!-- <link media="only screen and (device-width: 768px)" href="/css/ipad.css" type="text/css" rel="stylesheet" /> -->

    <!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->

  </head>

  <body>

    <header id="navigation">
      <div class="container">
        <a href="/" id="name"><h3>Matt Emborsky</h3></a>


        <nav>
          <ul>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/resume">Resume</a></li> -->
          </ul>
        </nav>

      </div>
    </header>


    {% if page.tagline %}
    <div id="tagline">
      <div class="img" style="background: url({{ page.tagline }});"></div>
      <h1><div class="container">{{ page.title }}</div></h1>
    </div>
    {% endif %}

    <div class="content container">
      {{ content }}
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51228523613f5d7867000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>

  </body>
</html>